/* Fonts */

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

/* Variables */

:root{

    --distance-body: 50px;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --black: #000000;
    --white: #ffffff;
    --grey: #F2F2F2;
    --dark-grey: #dadada;
    --hover: #a87b19;
}

/* Propriétés par défauts */

body{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: var(--regular);
}

h1{
    font-weight: var(--bold);
    font-size: 22px;
}

h2{
    font-weight: var(--bold);
    font-size: 22px;
}

h3, .h3, .h3::placeholder{
    font-weight: var(--bold);
    font-size: 18px;
    opacity: unset;
}

.cadre{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cadre > img{
    width: 100%;
}

.bold{
    font-weight: var(--bold);
}

.regular{
    font-weight: var(--regular);
}

                                                /* EN-TÊTE */

/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 var(--distance-body);
}

header img{
    width: 120px;
    padding: var(--distance-body) 15px;
}

header nav {
    display: flex;
    align-items: stretch;
    gap: 30px;
}

header nav a{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    font-weight: var(--medium);
}

header nav a:hover{
    border-top: 2px solid var(--blue);
    color: var(--blue);
}

                                                    /* SECTIONS */
              
/* 1-Formulaire */

section.filtres{
    display: flex;
    flex-direction: column;
    padding: 0 var(--distance-body);
    gap: 10px;
}

section.filtres form{
    display: flex;
    align-items: stretch;
    height: 50px;
    width: 400px;
    margin-top: 10px;
}

section.filtres form i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    background-color: var(--grey);
    border-radius: 15px 0 0 15px; 
}

section.filtres form input{
    border-top: 1px solid var(--grey) ;
    border-bottom: 1px solid var(--grey);
    padding-left: 10px;
}

section.filtres form button{
    background-color: var(--blue);
    color: white;
    border-radius: 0 15px 15px 0;
    padding: 0 10px 0 10px ;
}

section.filtres form button .fa-search{
    display: none;
    }

/* 2-Filtres de recherche */

section.filtres .categorie{
    display: flex;
    align-items: center;

    gap: 30px;

    padding: 10px 0;
    margin: 10px;
}

section.filtres .cat{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-right: 12px;
    border: 2px solid var(--grey);
    border-radius: 25px;
}

section.filtres .cat i{
    background-color: var(--light-blue);
    color: var(--blue);
    padding: 12px;
    margin-left: -2px;
    border-radius: 50%;
}

section.filtres .categorie a{
    font-weight: var(--bold);
}

section.filtres .categorie a:hover{
    color: var(--hover);
}

/* 3-Texte informatif */

section.filtres .informatif{
    display: flex;
    align-items: center;

    gap: 10px;

    padding: 0 10px;
}

    section.filtres .informatif i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    font-weight: var(--bold);
    width: 24px;
    height: 24px;
    border: 1px solid var(--grey);
    border-radius: 100%;
}

                                        /* SECTIONS HÉBERGEMENTS ET POPULAIRES */

/* Result */


section.result{
    display: flex;
    align-items: flex-start;
    gap: var(--distance-body);

    padding: 0 var(--distance-body);
    margin-top: 25px;
}

section.result .main, .side{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 1 auto;
    padding: 35px;
    border-radius: 20px;
    background-color: var(--grey);
}


/* Main */

section.result div.middle{
    display: flex;
    flex-wrap: wrap;   
}

section.result div.middle > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
    width: 200px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px var(--dark-grey);
    margin: 15px;
    background-color: white;
}

section.result div.main .cadre{
    width: 100%;
    height: 110px ;
    border: 5px solid white;
    border-radius: 20px 20px 0 0;
}


section.result .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 8px 15px;
    font-size: 16px;
}

.blue-star {
    color: var(--blue);
    font-size: 12px;
}

.grey-star {
    color: var(--dark-grey);
    font-size: 12px;
}

section.result .info:hover{
    color: var(--hover) ;
}
/* Side */

section.result div.side{
    width: 450px;
    flex: none;
}

section.result div.side div.middle > div{
    width: 200px;
    height: 130px;
}

section.result .infopop{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px 15px;
}

section.result .infopop i{
    padding-top: 30px;
}

section.result div.side img{
    border-radius: 10px 0 0 10px;
    float: left;
    height: 130px;
    width: 120px;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 20px 0 0 20px;
}

section.result div.side div.populaire{
    display: inline-block;
}

section.result div.side h2 i{
    padding-left: 140px;
}

/* Section :hover */

section.result div.middle > div:hover{
    box-shadow: 5px 5px 5px var(--dark-grey);
}
        
section.result div.main a{
    font-weight: var(--bold);
    font-size: 18px;
}

section.result div.main a:hover{
    color: var(--hover);
}

section.result div.side a:hover{
    color: var(--hover);
}

                                                     /* SECTIONS ACTIVITÉS */


section.activites{
    padding: 0 var(--distance-body);
    margin-top: var(--distance-body);
}

section.activites h2{
    padding-bottom: 30px;
}

section.activites .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 35px;
}


section.activites .column,
section.activites .bubble{
    flex: 1 1 auto;
    max-width: 400px;
    width: 300px;
    min-width: 300px;
    height: 425px;
}

section.activites .column .bubble{
    width: 100%;
}

section.activites .column{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

section.activites .bubble figure{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 4px 4px 4px var(--grey);
}

section.activites .bubble img{
    flex: 1 1 auto;
    object-fit: cover;
    height: 100%;
}

section.activites .bubble figcaption{
    flex: none;
    height: 50px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    background-color: var(--white);
        }

section.activites .bubble.one{
    flex: 1 0.8 auto;}

section.activites .bubble.two{
    flex: 1 1.1 auto;}


/* Section : a:hover */

.content a:hover{
    color: var(--hover);
}

                                            /* Pied-de-page */

/* FOOTER */

footer{
    background-color: var(--grey);

    padding: var(--distance-body);
    margin-top: 40px;

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    gap: 250px;
}

footer a:hover{
    color: var(--hover);
}

footer .bold{
    font-size: 18px;
}

p{
    font-size: 14px;
}

p.bold{
    font-size: 16px;
}


                                                            /* MEDIA QUERIES */

/* MEDIA QUERIES PHONE UNDER 768px */

@media screen and (min-width: 320px) and (max-width: 768px) {

                                                                /* HEADER */

body{
    min-width: 500px;
}

header{
    display: flex;
    flex-direction: column;
    padding: 0px;
}

header img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    margin: auto;
    padding: 20px;
}

/* Nav */

header nav{
    display: flex;
    justify-content: space-around;
    gap: 0px;
    border-bottom: 4px solid var(--grey);
}

header nav a{
    padding-bottom: 12px;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}
header nav a:hover{
    border-bottom: 4px solid var(--blue);
    border-top: 4px solid transparent ;
}


                                                            /* SECTIONS */

/* H1 et p */

section.filtres h1{
    padding-top: 20px;
}

section.filtres p{
    width: auto;
    font-size: 16px;
}

/* Filtres de recherche */

section.filtres .categorie{
    width: auto;
}

/* Formulaire */

section.filtres form input{
    width: 76%;
}

section.filtres form button{
    border-radius: 15px;
    padding: 0px;
}

section.filtres form button::placeholder{
    visibility: hidden;
}

section.filtres form button span{
    display: none;
}

section.filtres form button .fa-search{
    display: block;
    background-color: var(--blue);
    color: white;
}

/* Filtres de recherche */

div.categorie h3{
    display: flex;
    width: 100%;
}

div.categorie{
    flex-wrap: wrap;
    width: 100%;  
}

                                            /* SECTIONS HÉBERGEMENT ET POPULAIRES */

/* Les plus populaires */

section.result {
    display: flex;
    flex-direction: column-reverse;
    padding: 0px;
}

section.result div.side{
    border-radius: 0px 0px 0px 0px;
    width: 100%;
}

section.result div.side h2{
    display: flex;
    justify-content: center;
}

/* Hébérgements */

section.result div.main{
    background-color: transparent;
}

                                                    /* SECTION ACTIVITÉS */


section.activitiesresult{
    display: flex;
    flex-direction: column;
}

section.activitiesresult div{
    flex-wrap: wrap;
}

section.activites .content{
    justify-content: center;
}

section.activites .column{
    height: auto;
}

section.activites .bubble{
        height: 180px;
}


                                                    /* FOOTER */

footer{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

footer.activitiesresult div .activities{
    width: 100%;
    height: 20%;
}
    }
